<div class="modal fade" id="employeeAddModal" tabindex="-1" role="dialog" aria-labelledby="employeeAddModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="employeeAddModalLabel">Add a New Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form @submit.prevent="addEmployee">
                    <div class="form-group row">
                        <label for="first-name" class="col-3 col-form-label">First name:</label>
                        <div class="col-9">
                            <input type="text" class="form-control" id="first-name" v-model="newEmployee.first_name" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="last-name" class="col-3 col-form-label">Last name:</label>
                        <div class="col-9">
                            <input type="text" class="form-control" id="last-name" v-model="newEmployee.last_name" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="department" class="col-3 col-form-label">Department:</label>
                        <div class="col-9">
                            <select v-model="newEmployee.department" class="form-control" id="department" required>
                                <option disabled value="">---------</option>
                                <option v-for="department in departments" :value="department.id">
                                    ${department.name}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="job-title" class="col-3 col-form-label">Job title:</label>
                        <div class="col-9">
                            <input type="text" v-model="jobTitleKeyword" class="form-control" id="job-title" autocomplete="off"
                                   @keyup="searchJobTitleOptions" @focus="showJobTitleOptions" @blur="hideJobTitleOptions" required>
                            <div id="job-title-options" class="autocomplete-items" style="display: none;">
                                <div v-for="jobTitle in jobTitles" @click="setNewEmployeeJobTitle(jobTitle)" class="pl-1 pr-1 autocomplete-item">
                                    ${jobTitle.name}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="join-date" class="col-3 col-form-label">Join date:</label>
                        <div class="col-9">
                            <input type="date" class="form-control" id="join-date" v-model="newEmployee.join_date" required>
                        </div>
                    </div>
                    <div class="modal-footer pl-0 pr-0 pb-0">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>