{% extends "base.html" %}
{% load static %}

{% block head_title %}Employee Search{% endblock head_title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/employee_search.css' %}">
{% endblock extra_css %}

{% block content %}
    <div id="content" class="container d-flex flex-column">
        <div class="text-right"><a href="{% url 'logout' %}">Logout</a></div>
        <h3>Search Employees</h3>
        <div class="row mt-3 flex-grow-1">
            <div class="col-4">
                <div>Departments</div>
                <ul>
                    <li v-for="department in departments"><a href="#">${department.name}</a></li>
                </ul>
                {% if request.user.is_superuser %}
                <div><a href="#">Manage departments</a></div>
                {% endif %}
            </div>
            <div class="col-8 d-flex flex-column flex-grow-1">
                <form @submit.prevent>
                    <div class="form-group form-inline">
                        <input type="text" class="form-control flex-grow-1" placeholder="Enter name" v-model="keyword" @keyup="searchEmployees">
                        {% if request.user.is_superuser %}
                            <button type="button" class="btn btn-dark ml-2" data-toggle="modal" data-target="#addEmployeeModal"><i class="fas fa-user-plus"></i></button>
                        {% endif %}
                    </div>
                </form>
                <div id="employee-list" class="flex-grow-1">
                    <div class="row pt-1 pb-1" v-for="employee in employees">
                        <div class="col-4">${employee.first_name} ${employee.last_name}</div>
                        <div class="col-4">${employee.department.name}</div>
                        <div class="col-4">${employee.job_title.name}</div>
                    </div>
                </div>
            </div>
        </div>
        {% if request.user.is_superuser %}
            {% include 'snippets/add_employee_modal.html' %}
        {% endif %}
    </div>
{% endblock content %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/employee_search.js' %}"></script>
{% endblock extra_js %}